<div fxLayout="column" class="todo-container">
    <div fxFlex="65%">
        <div class="todo-item" fxLayout="row">
            <h4 fxFlex="60%">{{ todo.title }}</h4>
            <span fxFlex="40%">
                <input type="checkbox" [(ngModel)]="todo.completed" name="isComplete" (ngModelChange)="todoCompleted($event, todo)">
            </span>
        </div>
    </div>
    <div fxFlex="35%" fxLayoutAlign="end" fxLayout="row" class="todo-item">
        <button fxFlex="10%">Update</button> | 
        <button fxFlex="10%" (click)="removeToDO(todo.id)">Delete</button>
    </div>
</div><br>

